<h1>Corporations Details</h1>

<div class="content">
    
    <h2>{{corporations.owner | uppercase}}</h2>


    <p><strong>Email: </strong>
        <a href="" ng-href="mailto:{{corporations.email}}">{{corporations.email}}</a>
    </p>
    <p><strong>Phone Number: </strong>
        <a href="" ng-href="Phone:{{corporations.phone}}">{{corporations.phone}}</a>
    </p>

   <div id="googleMap" style="width:500px;height:380px;margin:auto;"></div>
    
    <p><a href="#/">Back</a></p>
</div>