<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
   <h1>Address Table</h1>

<div class="content">
    
    <h3>Search</h3>
    <!-- https://docs.angularjs.org/api/ng/filter/filter -->
    <br />
    <br /> 
    
    <table class="gridtable">
        <thead>
            <tr>
                <th>Owner</th>
                <th>Email</th>                
                <th>Phone Number</th>                
                <th></th>
            </tr>
        </thead>    
        
        <tr ng-repeat="coporation in coporations">
            <td>{{coporation.owner | uppercase}}</td>                  
            <td>{{coporation.email}}</td>
            <td><a ng-href="#/corporations/{{coporation.id}}">View</a></td>
        </tr>
    </table>
        
</div>
    </body>
</html>
