
   <h1>Corporation Table</h1>

<div class="content">
    
    <h3>Search</h3>
    <!-- https://docs.angularjs.org/api/ng/filter/filter -->
    <br />
    <br /> 
    
    <table class="gridtable">
        <thead>
            <tr>
                <th>Owner</th>
                <th>Email</th>                
                <th>Phone Number</th>                
                <th></th>
            </tr>
        </thead>    
        
        <tr ng-repeat="coporation in coporations">
            <td>{{coporation.owner | uppercase}}</td>                  
            <td>{{coporation.email}}</td>
            <td><a ng-href="#/corporation/{{coporation.id}}">View</a></td>
        </tr>
    </table>
        
</div>
    </body>
</html>
